## [NYCDSA Capstone Project] 
# Women's Softball League Power Ranking Estimate

<br>
Koeun Lim (ke.lim.kang@gmail.com)<br>
Kevin Haghi (kevin.haghi@gmail.com)<br>


# Step 1. Web scraping

---
## Project Description



### Project Outline
- Step 1. Web scraping
- Step 2. EDA
- Step 3. Modeling
- Step 4.

In [53]:
import pandas as pd
import re
import time

from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import Select

In [20]:
driver = webdriver.Chrome("/usr/local/bin/chromedriver")

# load the first page
url = 'http://stats.ncaa.org/rankings/'
driver.get(url)
time.sleep(1)

select_sport = Select(driver.find_element_by_id('sport'))
select_sport.select_by_visible_text('Softball')

In [21]:
select_season = Select(driver.find_element_by_id('acadyr'))
Seasons = ['2018-19','2017-18','2016-17','2015-16','2014-15','2013-14','2012-13']

# Add loop here later
select_season.select_by_visible_text(Seasons[0])

In [22]:
select_div = Select(driver.find_element_by_id('u_div'))
select_div.select_by_visible_text('I')

In [46]:
select_period = Select(driver.find_element_by_id('rp'))

period_box = driver.find_element_by_name('rp')
period_options = [x for x in period_box.find_elements_by_tag_name('option')]
for period_option in period_options:
    period_text = period_option.text
    if 'Final Statistics' in period_text:
        select_period.select_by_visible_text(period_text)

In [38]:
stats_box = driver.find_element_by_name('Stats')
stats_options = [x for x in stats_box.find_elements_by_tag_name('option')]
Stats_names = []
for idx_stats, stats_option in enumerate(stats_options):
    Stats_names.append(stats_option.text)

del Stats_names[0]

select_stats.select_by_visible_text(Stats_names[0])

In [49]:
select_stats = Select(driver.find_element_by_id('stat_seq'))

# add loop here later
select_stats.select_by_visible_text(Stats_names[1])

In [52]:
select_len = Select(driver.find_element_by_name('rankings_table_length'))
select_len.select_by_value('-1')

len_str = driver.find_element_by_id('rankings_table_info').text
num_obs = max([int(s) for s in len_str.split() if s.isdigit()])

In [65]:
# Scrape
soup_level1=BeautifulSoup(driver.page_source, 'lxml')
print(soup_level1.prettify())

<html>
 <head>
  <title>
   NCAA Statistics
  </title>
  <link href="/assets/application-31e4d2448e9434c0c2d76b81b5f75954.css" media="all" rel="stylesheet" type="text/css"/>
  <script src="/assets/pdfmake.min-4bed2d37a29e856f08cf25124b5e5d69.js" type="text/javascript">
  </script>
  <script src="/assets/application-6484cb0797671a8bf833045bbeeef071.js" type="text/javascript">
  </script>
  <meta content="authenticity_token" name="csrf-param"/>
  <meta content="a3tYSlkLx/1naum2iE6r1AEbslYFbTdQ/XlNeflR1Ow=" name="csrf-token"/>
  <style>
   tfoot tr:nth-child(n+2){
  border: initial;
  font-weight: initial;
}

tfoot tr:nth-child(n+2) td{
  border: initial;
  font-weight: initial;
}
  </style>
  <script>
   $.ajaxSetup ({
    // Disable caching of AJAX responses
    cache: false
  });

  function changeSport(field){
    var el = $(field);
    var tmList = el.parent().next().find('.new-team-year')[0];
    if (tmList == null){
      tmList = el.nextAll('.new-team-year')[0];
    }
    $.ajax({
      url: "/game_sport_year_ctls/"+el.val()+"/available_teams",
      dataType: "script",
      success: function(data, status){
        $(tmList).empty();
        $(tmList).append(("<option value=''>Select team</option>"));
        $.each(JSON.parse(data), function(k, v){
          $(tmList).append($("<option></option>")
              .attr("value", v["id"])
              .text(v["member_org"]["name_tabular"]));
        });
        $(tmList).trigger("chosen:updated");
      }
    });
  }

    function set_process_styles(fld, start_color, end_color){
       $('#'+fld).effect('highlight', {color: '#99CC99'}, 6000);
    }

    var downImage = "/assets/down12.gif";
    var rightImage = "/assets/right12.gif";

    function highlight(div_id){
      $(div_id).effect('highlight', {color: '#99CC99'}, 6000);
    }

    function show_hide_rows(attr_val, link_id){
      $('#'+attr_val).toggle();
      if ($('#'+attr_val).is(':visible')) {
        $('#'+link_id).attr('src', downImage);
      }else{
        $('#'+link_id).attr('src', rightImage);
      }
    }

    function mask(label){
      $('body').mask(label);
    }
    function unmask(){
      $('body').unmask();
    }

    var winHeight = "auto";
    var winWidth = "auto";
    var maxHeight = 700;
    var maxWidth = 1400;
    var minHeight = 100;
    var minWidth = 200;

    var modalOptions = {"width": winWidth,
                        "height": winHeight,
                        "maxHeight": maxHeight,
                        "maxWidth": maxWidth,
                        "minHeight": minHeight,
                        "minWidth": minWidth};

    function dialog(url, title){

      $("#stats_app_dialog").dialog({modal:true, minWidth:minWidth, minHeight:minHeight, maxWidth:maxWidth, maxHeight:maxHeight, width:winWidth, height:winHeight, title:title, closeOnEscape: false});

      modalOptions.title = title;

      $("#stats_app_dialog").dialog("option", modalOptions);

      $("#stats_app_dialog").html("Loading...");
      $("#stats_app_dialog").load(url).dialog('open');
    }

    function addDatePicker(){
    $('.adddatepicker').each(function(i, obj){
      $(obj).datepicker({
        showOn: 'both',
        buttonImage: '/assets/calendar.gif',
        buttonImageOnly: true,
      });
    });
    }

   $(document).ready(function() {
     addDatePicker();
     $('.chosen-select').chosen({allow_single_deselect: true, search_contains: true, width: '250px'});
     $('.chosen-select-wide').chosen({allow_single_deselect: true, search_contains: true, width: '400px'});
   });

   function setClassInputFields(){
     addDatePicker();
     $('.chosen-select').chosen({allow_single_deselect: true, search_contains: true, width: '250px'});
     $('.chosen-select-wide').chosen({allow_single_deselect: true, search_contains: true, width: '400px'});
   }
  </script>
 </head>
 <body class="" id="body" onload="if (top != self) { top.location=self.location; }">
  <div id="header">
   <img alt="Titlebar_logo" height="81" src="/assets/titlebar_logo-d1d40bd2268e265b6a42cacb7bb117e9.jpg" style="float: left" width="104"/>
   <h1>
    <span id="title1">
     NCAA
    </span>
    <br/>
    <span id="title2">
     Statistics
    </span>
   </h1>
   <div id="nav">
    <ul>
     <li id="active">
      <a href="/rankings?academic_year=2019&amp;division=1.0&amp;sport_code=WSB">
       <span>
        National Rankings
       </span>
      </a>
     </li>
     <li id="notactive">
      <a href="/active_career_leaders/show_summary_from_rankings?academic_year=2019&amp;division=1.0&amp;sport_code=WSB">
       <span>
        Active Career Leaders
       </span>
      </a>
     </li>
     <li id="notactive">
      <a href="/contests/scoreboards">
       <span>
        Scoreboard
       </span>
      </a>
     </li>
     <li id="notactive">
      <a href="/selection_rankings/nitty_gritties">
       <span>
        RPI/NET Rankings
       </span>
      </a>
     </li>
     <li id="notactive">
      <a href="/head_coaches">
       <span>
        Head Coaches
       </span>
      </a>
     </li>
     <li id="notactive">
      <a href="/search/players">
       <span>
        Player Search
       </span>
      </a>
     </li>
     <li id="team_search">
      <script>
       $(function() {
    $( "#org_name" ).autocomplete({
      source: '/team/search',
      select: function( event, ui ) {
        $("#org_id").val(ui.item.vid);
        $("#id").val(ui.item.vid);
        $('#sport_btn').click();
      }
    });
  });
      </script>
      <span style="display:inline; float:right;">
       <form accept-charset="UTF-8" action="/team/index" id="change_team_form" method="post" onsubmit="mask('Loading');" style="display:inline;">
        <div style="margin:0;padding:0;display:inline">
         <input name="utf8" type="hidden" value="✓"/>
         <input name="authenticity_token" type="hidden" value="a3tYSlkLx/1naum2iE6r1AEbslYFbTdQ/XlNeflR1Ow="/>
        </div>
        <div style="display:none;">
         <input id="sport_btn" name="commit" type="submit" value="Submit"/>
        </div>
        <div class="ui-widget" id="team_autocomplete">
         <span style="color: #ccc;">
          Team Search:
         </span>
         <input autocomplete="off" class="ui-autocomplete-input" id="org_name" name="org_name" style="width:200px" type="text"/>
         <span aria-live="polite" class="ui-helper-hidden-accessible" role="status">
         </span>
         <input id="org_id" name="org_id" type="hidden"/>
        </div>
       </form>
      </span>
     </li>
     <li>
      <a class="skipMask" href="http://twitter.com/ncaastats" target="TWITTER">
       <img alt="Twitter" height="17" src="/assets/twitter-6586be4273539dff7a95e70ebdf1a846.png" width="46"/>
      </a>
     </li>
    </ul>
   </div>
  </div>
  <div id="contentarea">
   <div id="stats_app_dialog" style="display:none;">
   </div>
   <div class="rankings" id="message_box" style="display: none">
    <span class="message_box_success">
    </span>
    <span class="message_box_error">
    </span>
   </div>
   <script language="javascript">
    //used in ranking_summary.rhtml
   function load_ranking_summary(org_id, conf_id, region_id, ncaa_custom_id, user_custom_id){
      $('#ranking_summary_form_org_id').val(org_id);
      $('#ranking_summary_form_conf_id').val(conf_id);
      $('#ranking_summary_form_region_id').val(region_id);
      $('#ranking_summary_form_ncaa_custom_rank_summary_id').val(ncaa_custom_id);
      $('#ranking_summary_form_user_custom_rank_summary_id').val(user_custom_id);
      $('#ranking_summary_form_submit_btn').click();
  }

  //used in ranking_summary.rhtml
  function showCareer(org_id, player_id){
      $('#career_form_org_id').val(org_id);
      $('#career_form_player_id').val(player_id);
      $('#career_form_id').submit();
   }

   function showLegacyPDF(ranking_period, stat_seq, division, sport_code, academic_year){
     window.open("http://web1.ncaa.org/stats/StatsSrv/pdf/rankings?rptWeeks="+ranking_period+"&statSeq="+stat_seq+"&div="+division+"&sportCode="+sport_code+"&academicYear="+academic_year+"&rptType=PDF&doWhat=showrankings", "PDF_RANKINGS_"+stat_seq);

   }

      function init_tabs(activate_tab){
        $("#stat_type_I_N").removeClass("current");
        $("#stat_type_I_Y").removeClass("current");
        $("#stat_type_T_N").removeClass("current");
        $("#stat_type_T_Y").removeClass("current");
        $("#ranking_summary").removeClass("current");
        $("#misc_reports").removeClass("current");
        if(activate_tab != null){
           $(activate_tab).addClass("current");
        }
      }

      function changeRankingSummaryTab(){
         submitSportYearDivForm("ranking_summary");
      }

      function changeStatType(tm_ind, gm_high){
	     $('#sport_year_div_game_high').val(gm_high);
	     $('#sport_year_div_team_individual').val(tm_ind);
	     $('#sport_year_div_stat_seq').val('');
	     $('#sport_year_div_ranking_summary').val('N');
         initRankingSummaryOptions();
         submitSportYearDivForm("change_sport_year_div");
      }

      function initRankingSummaryOptions(){
         $('#sport_year_div_org_id').val("-1");
         $('#sport_year_div_conf_id').val("-1");
         $('#sport_year_div_region_id').val("-1");
         $('#sport_year_div_ncaa_custom_rank_summary_id').val("-1");
         $('#sport_year_div_user_custom_rank_summary_id').val("-1");
      }

      //this gets called after ajax calls to rankings or ranking summary
      function initRankingsCall(stat_seq, org, conf, region, ncaa_custom, user_custom){
	     $('#sport_year_div_stat_seq').val(stat_seq);
         $('#sport_year_div_org_id').val(org);
         $('#sport_year_div_conf_id').val(conf);
         $('#sport_year_div_region_id').val(region);
         $('#sport_year_div_ncaa_custom_rank_summary_id').val(ncaa_custom);
         $('#sport_year_div_user_custom_rank_summary_id').val(user_custom);
         if ( stat_seq > 0 ){
            $('#sport_year_div_ranking_summary').val("N");
         }else{
            $('#sport_year_div_ranking_summary').val("Y");
         }
      }

      function showRankings(stat){
	     $('#ranking_form_stat_seq').val(stat);
	     document.ranking_form.submit();
      }

      function changeDivisions(val){
             $('#sport_year_div_division').val(val);
             $('#sport_year_div_ranking_period').val('');
             initRankingSummaryOptions();
             submitSportYearDivForm("change_sport_year_div");
      }

      function changeYears(val){
             $('#sport_year_div_academic_year').val(val);
             $('#sport_year_div_ranking_period').val('');
             initRankingSummaryOptions();
             submitSportYearDivForm("change_sport_year_div");
      }

      function changeSports(val){
             $('#sport_year_div_sport_code').val(val);
             $('#sport_year_div_ranking_period').val('');
             initRankingSummaryOptions();
             submitSportYearDivForm("change_sport_year_div");
      }

      function changeRankingPeriod(val){
	     $('#sport_year_div_ranking_period').val(val);
         submitSportYearDivForm("change_sport_year_div");
      }

      function submitSportYearDivForm(action_name){
        $('#contentArea').mask('Loading...');
        if ($('#sport_year_div_ranking_summary').val() == "Y" && action_name == "change_sport_year_div"){
           document.sport_year_div_form.action = "/rankings/ranking_summary";
        }else{
           document.sport_year_div_form.action = "/rankings/"+action_name;
        }
        document.sport_year_div_form.submit();
      }

      function playerTeamSummary(val){
	     $('#player_search_id').val(val);
   	     document.player_form.submit();
      }

      function viewRankings(stat_seq){
        $('#rankings_stat_seq').val(stat_seq);
        $('#rankings_form_submit_btn').click();
      }
   </script>
   <select id="sport" name="sport" onchange="mask('Processing'); changeSports(this.value);">
    <option value="">
     Select Sport
    </option>
    <option value="MBA">
     Baseball
    </option>
    <option value="MBB">
     Men's Basketball
    </option>
    <option value="MFB">
     Football
    </option>
    <option value="MIH">
     Men's Ice Hockey
    </option>
    <option value="MLA">
     Men's Lacrosse
    </option>
    <option value="MSO">
     Men's Soccer
    </option>
    <option value="MTE">
     Men's Tennis
    </option>
    <option value="MVB">
     Men's Volleyball
    </option>
    <option value="MWP">
     Men's Water Polo
    </option>
    <option value="WBB">
     Women's Basketball
    </option>
    <option value="WBW">
     Women's Bowling
    </option>
    <option value="WFH">
     Field Hockey
    </option>
    <option value="WIH">
     Women's Ice Hockey
    </option>
    <option value="WLA">
     Women's Lacrosse
    </option>
    <option selected="" value="WSB">
     Softball
    </option>
    <option value="WSO">
     Women's Soccer
    </option>
    <option value="WSV">
     Women's Beach Volleyball
    </option>
    <option value="WTE">
     Women's Tennis
    </option>
    <option value="WVB">
     Women's Volleyball
    </option>
    <option value="WWP">
     Women's Water Polo
    </option>
   </select>
   |
   <select id="acadyr" name="acadyr" onchange="mask('Processing'); changeYears(this.value);">
    <option value="2021.0">
     2020-21
    </option>
    <option value="2020.0">
     2019-20
    </option>
    <option selected="" value="2019.0">
     2018-19
    </option>
    <option value="2018.0">
     2017-18
    </option>
    <option value="2017.0">
     2016-17
    </option>
    <option value="2016.0">
     2015-16
    </option>
    <option value="2015.0">
     2014-15
    </option>
    <option value="2014.0">
     2013-14
    </option>
    <option value="2013.0">
     2012-13
    </option>
    <option value="2012.0">
     2011-12
    </option>
    <option value="2011.0">
     2010-11
    </option>
    <option value="2010.0">
     2009-10
    </option>
   </select>
   |
   <select id="u_div" name="u_div" onchange="mask('Processing'); changeDivisions(this.value);">
    <option selected="" value="1.0">
     I
    </option>
    <option value="2.0">
     II
    </option>
    <option value="3.0">
     III
    </option>
   </select>
   |
   <select id="rp" name="rp" onchange="mask('Processing'); changeRankingPeriod(this.value);">
    <option selected="" value="83.0">
     06/05/2019-Final Statistics
    </option>
    <option value="52.0">
     06/05/2019-DI Softball Tournament
    </option>
    <option value="77.0">
     06/05/2019-Women's College World Series
    </option>
    <option value="82.0">
     06/04/2019
    </option>
    <option value="81.0">
     06/03/2019
    </option>
    <option value="80.0">
     06/02/2019
    </option>
    <option value="79.0">
     06/01/2019
    </option>
    <option value="78.0">
     05/31/2019
    </option>
    <option value="76.0">
     05/30/2019
    </option>
    <option value="75.0">
     05/26/2019
    </option>
    <option value="74.0">
     05/25/2019
    </option>
    <option value="73.0">
     05/24/2019
    </option>
    <option value="72.0">
     05/23/2019
    </option>
    <option value="71.0">
     05/20/2019
    </option>
    <option value="70.0">
     05/19/2019
    </option>
    <option value="69.0">
     05/18/2019
    </option>
    <option value="68.0">
     05/16/2019
    </option>
    <option value="67.0">
     05/11/2019
    </option>
    <option value="66.0">
     05/09/2019
    </option>
    <option value="65.0">
     05/08/2019
    </option>
    <option value="64.0">
     05/07/2019
    </option>
    <option value="63.0">
     05/06/2019
    </option>
    <option value="62.0">
     05/05/2019
    </option>
    <option value="61.0">
     05/02/2019
    </option>
    <option value="60.0">
     05/01/2019
    </option>
    <option value="59.0">
     04/30/2019
    </option>
    <option value="58.0">
     04/29/2019
    </option>
    <option value="57.0">
     04/28/2019
    </option>
    <option value="56.0">
     04/25/2019
    </option>
    <option value="55.0">
     04/24/2019
    </option>
    <option value="54.0">
     04/23/2019
    </option>
    <option value="53.0">
     04/22/2019
    </option>
    <option value="51.0">
     04/21/2019
    </option>
    <option value="50.0">
     04/18/2019
    </option>
    <option value="49.0">
     04/17/2019
    </option>
    <option value="48.0">
     04/16/2019
    </option>
    <option value="47.0">
     04/15/2019
    </option>
    <option value="46.0">
     04/14/2019
    </option>
    <option value="45.0">
     04/11/2019
    </option>
    <option value="44.0">
     04/10/2019
    </option>
    <option value="43.0">
     04/09/2019
    </option>
    <option value="42.0">
     04/08/2019
    </option>
    <option value="41.0">
     04/07/2019
    </option>
    <option value="40.0">
     04/04/2019
    </option>
    <option value="39.0">
     04/03/2019
    </option>
    <option value="38.0">
     04/02/2019
    </option>
    <option value="37.0">
     04/01/2019
    </option>
    <option value="36.0">
     03/31/2019
    </option>
    <option value="33.0">
     03/26/2019
    </option>
    <option value="31.0">
     03/24/2019
    </option>
    <option value="30.0">
     03/21/2019
    </option>
    <option value="29.0">
     03/20/2019
    </option>
    <option value="28.0">
     03/19/2019
    </option>
    <option value="27.0">
     03/18/2019
    </option>
    <option value="26.0">
     03/17/2019
    </option>
    <option value="25.0">
     03/14/2019
    </option>
    <option value="24.0">
     03/13/2019
    </option>
    <option value="23.0">
     03/12/2019
    </option>
    <option value="22.0">
     03/11/2019
    </option>
    <option value="21.0">
     03/10/2019
    </option>
    <option value="20.0">
     03/07/2019
    </option>
    <option value="19.0">
     03/06/2019
    </option>
    <option value="18.0">
     03/05/2019
    </option>
    <option value="17.0">
     03/04/2019
    </option>
    <option value="16.0">
     03/03/2019
    </option>
    <option value="15.0">
     02/28/2019
    </option>
    <option value="14.0">
     02/27/2019
    </option>
    <option value="13.0">
     02/26/2019
    </option>
    <option value="12.0">
     02/25/2019
    </option>
    <option value="11.0">
     02/24/2019
    </option>
    <option value="10.0">
     02/21/2019
    </option>
    <option value="9.0">
     02/20/2019
    </option>
    <option value="8.0">
     02/19/2019
    </option>
    <option value="7.0">
     02/18/2019
    </option>
    <option value="6.0">
     02/17/2019
    </option>
    <option value="5.0">
     02/14/2019
    </option>
    <option value="4.0">
     02/13/2019
    </option>
    <option value="3.0">
     02/12/2019
    </option>
    <option value="2.0">
     02/11/2019
    </option>
   </select>
   <br/>
   <!--

<div id="grey_header_menu">
<div id="nav_bar">
<div id="primary_nav_wrap">
		<ul class="current-menu-item">
		  <li>
		    <a href="#" class="skipMask">Softball</a>
		    <ul class="level2">
		 		    <li><a href="javascript:changeSports('MBA');">Baseball</a></li>
		 		    <li><a href="javascript:changeSports('MBB');">Men&#x27;s Basketball</a></li>
		 		    <li><a href="javascript:changeSports('MFB');">Football</a></li>
		 		    <li><a href="javascript:changeSports('MIH');">Men&#x27;s Ice Hockey</a></li>
		 		    <li><a href="javascript:changeSports('MLA');">Men&#x27;s Lacrosse</a></li>
		 		    <li><a href="javascript:changeSports('MSO');">Men&#x27;s Soccer</a></li>
		 		    <li><a href="javascript:changeSports('MTE');">Men&#x27;s Tennis</a></li>
		 		    <li><a href="javascript:changeSports('MVB');">Men&#x27;s Volleyball</a></li>
		 		    <li><a href="javascript:changeSports('MWP');">Men&#x27;s Water Polo</a></li>
		 		    <li><a href="javascript:changeSports('WBB');">Women&#x27;s Basketball</a></li>

In [69]:
table1 = soup_level1.find("table", attrs={"id": "rankings_table"})
table_data1 = table1.tbody.find_all("tr") 

# get heading separately --> thead

AttributeError: 'NoneType' object has no attribute 'text'

In [70]:
table_data1[0].find_all("td")

[<td class="reclass sorting_1 sorting_2" data-order="1">1</td>,
 <td class="reclass" data-order="Hofstra,CAA"><a class="skipMask" href="/team/283.0/14800" target="TEAM_WIN">Hofstra (CAA)</a></td>,
 <td align="right" nowrap="">
             47
           </td>,
 <td align="right" nowrap="">
             33
           </td>,
 <td align="right" nowrap="">
             0.70
           </td>]

In [ ]:
driver.close()